#### Day objectives:
        - shortcuts on jupyter notebook
        - python concepts
                - package and module
                - file handling in python

### literate programming:
    - it is a combination of both coding and documentation
    
#### shortcuts:
        - insert a cell for above--->a
        - insert a cell for below--->b
        - delete a cell--->dd
        - code mode--->y
        - markdown/document mode--->m
        - run a cell--->shift+enter,cntrl+enter

In [ ]:
for the headings we are using '#' symbol

In [ ]:
#### Markdown syntax:

# Heading
## Heading2
### Heading3
#### heading4
##### heading5
###### heading 6
#######

#### python Basics:
    - print a statement
    - variable creation
    - keywords in python
    - data types in python
    - python operators
    - dynamic input in python

In [1]:
print("Hello world!")

Hello world!

In [2]:
print("hello students! welcome to data analysis online session ")

hello students! welcome to data analysis online session

#### variable declaration:
    - variable:
            - it is used to store the data
            - syntax:
                variable_name=data/value
                
##### rules:
    -

In [3]:
a=10
print(a)

10

In [4]:
9a=89
print(9a)

SyntaxError: invalid syntax (2818938494.py, line 1)

In [6]:
a9=100
print(a9)

100

In [7]:
basic_variable="python"
print(basic_variable)

python

In [8]:
_a=90
print(_a)

90

In [12]:
#### multiple variables with single value
x=y=z=80
print(y)
print(z)
print(x)
print(x,y,z)

80
80
80
80 80 80

In [15]:
#### multiple variables with multiple values
a,b,c=10,20,30
print(c)
print(a)
print(b)

30
10
20

#### Data types in python
        - data type:
             - it return type of the data
             - by using type function we can findout the data
             - syntax:
                     type(data)
             - python contains 3 different types of data types:
                         - int
                         - float
                         - str

In [17]:
i=78
print(i)
type(i)

78

int

In [18]:
j='python workshop'
print(j)

python workshop

In [20]:
type(j)

str

In [22]:
k=67.89
print(k)
type(k)

67.89

float

#### keywords in python:
        - keyword:
            - it is a reserved words
            - total keywords in python:35

In [23]:
import keyword # here import-->keyword,keyword--->module
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [24]:
print(len(keyword.kwlist))

36

#### dynamic input in python
        - input()

In [25]:
input()  #by default it takes an input as a string format

89

'89'

In [26]:
input()

srikanya

'srikanya'

In [28]:
int(input("Enter your value:"))

Enter your value:90

90

In [30]:
float(input("Enter your number:"))

Enter your number:67.89

67.89

In [31]:
str(input("Enter your name:"))

Enter your name:srikanya

'srikanya'

#### operator:
        - it performs operation on operands/variables
        - ex:
                a + b  # a,b are the operands + is the operator
                
#### python operators(7):
    - arithmetic operators
            (+,-,*,/,//,%,**)
    - relational operators
            (<,>,<=,>=,==,!=)
    - Assignment operators
            (+=,-=,*=,/=,//=,%=,**=)
    - logical operators
            (and,or,not)
    - bitwise operators
            (AND(&),OR(|),XOR(^),NOT(~),LEFTSHIFT(<<),RIGHTSHIFT(>>))
    - identity operators
            (is,is not)
    - membership operators
            (in,not in)

In [ ]:
#### arithmetic

In [33]:
m=5
n=4
print(m+n)
print(m-n)
print(m*n)
print(m/n)
print(m//n)
print(m**n)
print(m%n)

9
1
20
1.25
1
625
1

In [34]:
5%4

1

In [35]:
#### relational(T,F)
print(m<n) #(5<4)

False

In [36]:
print(m>n)

True

In [37]:
print(m==n)

False

In [38]:
print(m!=n)

True

In [39]:
print(m<=n)

False

In [40]:
print(m>=n)

True

In [46]:
#### logical
c=True
d=False
print(c and d)

False

In [47]:
print(c or d)

True

In [48]:
not(c)

False

In [49]:
not(d)

True

In [50]:
### bitwise
bin(10)

'0b1010'

In [53]:
k=10
l=4
print(k)
print(l)

10
4

In [51]:
bin(4)

'0b100'

In [57]:
print(k & l)

0

In [ ]:
00001010
00000100
---------
00001110

In [58]:
print(k | l)

14

In [59]:
print(k ^ l)

14

In [61]:
print(10<<1)

20

In [ ]:
00001010
00010100

In [62]:
print(10>>1)

5

In [ ]:
00001010
00000101

In [ ]:
### decimal--->binary---<bin
### decimal--->oct--->oct

In [65]:
bin(10)

'0b1010'

In [63]:
oct(10)

'0o12'

In [64]:
hex(90)

'0x5a'

In [68]:
#### identity
a=10
b=20

20

In [69]:
print(a is b)

False

In [70]:
print(a is not b)

True

In [ ]:
### membership---->python data structures

In [76]:
### assignment
a=10
print(a)
b+=a   #b+=,b=b+a,b=20+10
print(b)
c-=a           
print(c)

10
60
-29

#### control statements in python
        - for loop
            - syntax:
                    for variable name in range(start range,end range+1,step value):
        - while loop
                while(condition):
                    print(variable)
                    increment/decrement

In [84]:
for j in range(1,11,1):
    print(j,end="   ")

1   2   3   4   5   6   7   8   9   10

In [86]:
for i in range(11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [87]:
for i in range(1,11,2):  # alternate elements
    print(i,end=" ")

1 3 5 7 9

In [88]:
for i in range(0,11,2):
    print(i,end=" ")

0 2 4 6 8 10

In [92]:
for i in range(10,-1,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1 0

In [94]:
#### while
i=1
n=10
while(i<=n):#1<=10,2<=10,3<=10,4<=10,5<=10
    print(i,end=" ")
    i=i+1 #i=1+1=2,i=2+1=3,i=3+1=4,i=4+1=5

1 2 3 4 5 6 7 8 9 10

#### conditional statements
        - if
        - if-else
        - elif
        - nested-if

In [96]:

if(a==10):
    print(a)

10

In [98]:
n=int(input())
if (n%2==0):
    print("Even no")
else:
    print("Odd no")

9
Odd no

In [99]:
e=int(input())
f=int(input())
g=int(input())
if (e>f and e>g):
    print("greatest no is:",e)
elif (f>g):
    print("greatest no is:",f)
else:
    print("greatest no is:",g)

56
90
67
greatest no is: 90